<div class="social-profiles">
    <a href="http://vk.com/unbiby" target="_blank"><i class="fa fa-vk"></i></a>
    <a href="http://www.youtube.com/channel/UCs-BYKmVPdBPCXOC0LFZfCg" target="_blank"><i class="fa fa-youtube"></i></a>
    <a href="https://twitter.com/unbiby" target="_blank"><i class="fa fa-twitter"></i></a>
    <a href="mailto:mail@grishy.ru" target="_blank"><i class="fa fa-envelope-o"></i></a>
    <a href="{{@blog.url}}/rss/" target="_blank"><i class="fa fa-rss"></i></a>
</div>