<div class="social-profiles">
    <a href="https://www.facebook.com/ThemesHolic" target="_blank"><i class="fa fa-facebook"></i></a>
    <a href="https://www.twitter.com/ThemesHolic" target="_blank"><i class="fa fa-twitter"></i></a>
    <a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
    <a href="#" target="_blank"><i class="fa fa-vimeo-square"></i></a>
    <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
</div>